{{ form_start(form, {
    'attr': {
        'class': 'form-inline js-new-rep-log-form',
        'novalidate': 'novalidate',
    }
}) }}
    {{ form_errors(form) }}

    <div class="row g-2 align-items-end">
        <div class="col-auto">
            {{ form_row(form.item, {
                'label': 'What did you lift?',
                'label_attr': {'class': 'sr-only'}
            }) }}
        </div>
        <div class="col-auto">
            {{ form_row(form.reps, {
                'label': 'How many times?',
                'label_attr': {'class': 'sr-only'},
                'attr': {'placeholder': 'How many times?'}
            }) }}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">I Lifted it!</button>
        </div>
    </div>
{{ form_end(form) }}
